<page-title  title="Main Dashboard"></page-title>
<div class="row">
    <div class="panel panel-default" style="padding: 7px;padding-top: 11px;">
        <div class="panel-body" style="padding-top: 0px;">
            <div class="col-lg-7 col-sm-12">
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-turquoise dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-list-alt"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-turquoise" role="menu">
                        <li>
                            <a href="">Pipeline View</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">List View</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-turquoise dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-asterisk"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-turquoise" role="menu">
                        <li>
                            <a href="">Show All Leads </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">Show Unassigned Leads</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-turquoise dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-filter"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-turquoise" role="menu">
                        <li>
                            <a href=""> New Filter</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">Manage Filter</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">Disable Filter</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-turquoise dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-columns"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-turquoise" role="menu">
                        <li>
                            <a href="">Default</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">Hold</a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-turquoise dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-tag"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-turquoise" role="menu">
                        <li>
                            <a href="">None</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">List View</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-5 col-sm-12">
                <div class="col-lg-3">
                    <a class="btn btn-turquoise btn-icon btn-icon-standalone btn-icon-standalone-right" ng-click="openModal('modal-5', 'lg', 'static');">
                        <i class="fa fa-plus"></i>
                        <span>Add a Lead</span>
                    </a>
                </div>
                <div class="col-lg-9 text-right">
                    <form method="get" action="" enctype="application/x-www-form-urlencoded">
                        <input type="text" class="form-control input-lg" placeholder="Search..." name="s" ng-model="searchString" style="display: inline;max-width: 283px;"/>
                        <button type="submit" class="btn-unstyled">
                            <i class="linecons-search" style="font-size: 16px;"></i>
                        </button>
                    </form> 
                </div>
            </div>
            <div class="col-lg-4">
                <ol class="breadcrumb bc-3"  xe-breadcrumb>
                    <li>
                        <a href="dashboard-1.html"><i class="fa fa-filter"></i>Filter Applied</a>
                    </li>
                    <li>
                        <a href="ui-panels.html">UI Elements</a>
                    </li>
                    <li class="active">
                        <strong>Breadcrumbs</strong>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default" style="padding: 7px;">
        <div class="panel-body" style="padding-top: 0px;">
            <div class="col-sm-7">
                <div class="col-lg-3">
                    <form role="form" class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option>Select User</option>
                                    <option>User1</option>
                                    <option>User2</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3">
                    <form role="form" class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option>Select Stage</option>
                                    <option>Prospect</option>
                                    <option>Concept</option>
                                    <option>Offer</option>
                                    <option>In Negotiation</option>
                                    <option>Hold</option>
                                    <option>Closing</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3">
                    <form role="form" class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option>Lead Type</option>
                                    <option>Hot Lead</option>
                                    <option>Cold Lead</option>
                                    <option>Assigned</option>
                                    <option>Unassigned</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3">
                    <form role="form" class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <select class="form-control">
                                    <option>Closed Reason</option>
                                    <option>Stale</option>
                                    <option>Unavailable</option>
                                    <option>Already Booked</option>
                                    <option>Exceeded Budget</option>
                                    <option>Lost</option>
                                    <option>Duplicate Contact</option>
                                    <option>canceled</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5" >
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><b>Select Date</b></label>
                        <div class="col-sm-7">
                            <div class="daterange daterange-inline add-ranges" data-format="MMMM , YYYY" data-start-date="November , 2014" data-end-date="December , 2014">
                                <i class="fa-calendar"></i>
                                <span>November , 2014 - December , 2014</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-danger" role="menu">
                        <li>
                            <a href="">Assign To</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">Add Lead</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">Change Pipeline</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">Change Stage</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">Delete</a>
                        </li>
                    </ul>
                </div>

        <div class="panel-options">

        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="" class="table responsive" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Lead Title</th>
                        <th>Stages</th>
                        <th>Value</th>
                        <th>Company</th>
                        <th>Assigned To</th>
                        <th>Added By</th>
                        <th>TODOS</th>
                        <th>Created Date</th>
                        <th>Last Modified</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" class="cbr"></td>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td><button class="btn btn-success">View</button></td>
                    </tr> <tr>
                        <td><input type="checkbox" class="cbr"></td>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td><button class="btn btn-success">View</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<script type="text/ng-template" id="modal-5">
    <div class="modal-header">
    <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Advance Lead Creator</h4>
    </div>
    <div class="modal-body">
    <div class="row">
    <div class="col-md-12">
    <div class="tabs-vertical-env" ng-init="vertical_tabs_1 = 1">
    <ul class="nav tabs-vertical">
    <li ng-class="{active: vertical_tabs_1 == 1}"><a href="" ng-click="vertical_tabs_1 = 1"><i class="fa fa-exchange"></i> Lead Info</a></li>
    <li ng-class="{active: vertical_tabs_1 == 2}"><a href="" ng-click="vertical_tabs_1 = 2"><i class="fa fa-exchange"></i> Last Update</a></li>
    <li ng-class="{active: vertical_tabs_1 == 3}"><a href="" ng-click="vertical_tabs_1 = 3"><i class="fa fa-tasks"></i> Todos</a></li>
    <li ng-class="{active: vertical_tabs_1 == 4}"><a href="" ng-click="vertical_tabs_1 = 4"><i class="fa fa-user"></i> Contact</a></li>
    <li ng-class="{active: vertical_tabs_1 == 5}"><a href="" ng-click="vertical_tabs_1 = 5"><i class="fa fa-puzzle-piece"></i> Notes </a></li>
    <li ng-class="{active: vertical_tabs_1 == 6}"><a href="" ng-click="vertical_tabs_1 = 6"><i class="fa fa-file"></i> Files </a></li>
    <li ng-class="{active: vertical_tabs_1 == 7}"><a href="" ng-click="vertical_tabs_1 = 7"><i class="fa fa-inbox"></i> Source</a></li>
    </ul>
    <div class="tab-content">
    <div class="tab-pane active" ng-class="{active: vertical_tabs_1 == 1}">
    <form role="form" class="form-horizontal">
    <div class="form-group">
    <label class="col-sm-2 control-label" for="field-1">Lead Name</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" id="field-1" placeholder="Give your  lead a title">
    </div>
    </div>
    <div class="form-group-separator"></div>

    <div class="form-group">
    <label class="col-sm-2 control-label">Lead Value</label>
    <div class="col-sm-10">
    <div class="input-group">
    <span class="input-group-addon">&#8377;</span>
    <input type="text" class="form-control" placeholder="">
    </div>
    </div>
    </div>
    <div class="form-group-separator"></div>
    <div class="form-group">
    <label class="col-sm-2 control-label">Assign To</label>

    <div class="col-sm-10">
    <select class="form-control">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
    <option>Option 4</option>
    <option>Option 5</option>
    </select>
    </div>
    </div>
    <div class="form-group-separator"></div>
    <div class="form-group">
    <div class="col-lg-5 col-sm-12">
    <label class="col-lg-3 col-sm-2 control-label">Pipeline</label>
    <div class="col-lg-9 col-sm-10">
    <select class="form-control">
    <option>Exchange</option>
    <option>Bilateral</option>
    <option>Smartech</option>
    </select>
    </div>
    </div>
    <div class="col-lg-5 col-sm-12">
    <div class="form-group">
    <label class="col-sm-2 control-label">Stage</label>
    <div class="col-sm-10">
    <select class="form-control">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
    <option>Option 4</option>
    <option>Option 5</option>
    </select>
    </div>
    </div>
    </div>
    <div class="col-lg-2">
    <div class="col-lg-12">
    <button type="button" class="btn btn-blue">
    <span>Add More</span>
    </button>
    </div>
    </div>
    </div>
    </form>
    </div>
    <div class="tab-pane" ng-class="{active: vertical_tabs_1 == 2}">
    <form role="form" class="form-horizontal">
    <div class="input-group">
    <input type="text" class="form-control no-right-border form-focus-info">
    <span class="input-group-btn" dropdown>
    <button type="button" class="btn btn-info">Action <i class="fa-info"></i></button>
    </span>
    </div>
    </form>
    </div>
    <div class="tab-pane" ng-class="{active: vertical_tabs_1 == 3}">
    <div class="col-md-12">
    <form role="form" class="form-horizontal">
    <div class="input-group xs-12">
    <input type="text" class="form-control no-right-border form-focus-info" placeholder="i have to do....">
    <span class="input-group-btn" dropdown>
    <button type="button" class="btn btn-info"><i class="fa-plus"></i> Action </button>
    </span>
    </div>
    <div class="form-group-separator"></div>
    <div class="form-group col-xs-5" style="padding-left: 0;">
    <div class="col-sm-9">
    <div class="input-group">
    <input type="text" class="form-control datepicker" data-format="D, dd MM yyyy">
    <div class="input-group-addon">
    <a href=""><i class="linecons-calendar"></i></a>
    </div>
    </div>
    </div>
    </div>
    <div class="form-group col-xs-4">
    <div class="col-sm-2">
    <div class="input-group">
    <div class="input-group-addon">
    <i class="linecons-clock"></i>
    </div>
    <input type="text" class="form-control timepicker" style="width: 100px;"/>
    </div>
    </div>
    </div>
    <div class="form-group col-xs-3">
    <div class="col-sm-10">
    <select class="form-control" style="width:210px;">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
    <option>Option 4</option>
    <option>Option 5</option>
    </select>
    </div>
    </div>
    </form>
    </div>
    <div class="col-md-12" style="border: 1px solid gray;height: 30px;padding-top: 5px;">
    <div class="pull-left">
    <i class="fa fa-phone"></i>  kartik
    </div>
    <div  class="pull-right">
    3:20 PM Jan 1 2016
    <i class="fa fa-trash"></i>  
    </div>
    </div>
    </div>
    <div class="tab-pane" ng-class="{active: vertical_tabs_1 == 4}">
    <form role="form" class="form-horizontal">
    <div class="form-group">
    <div class="col-sm-10">
    <input type="text" class="form-control" id="field-1" placeholder="Contact Name">
    </div>
    </div>
    <div class="form-group">
    <div class="col-sm-10">
    <input type="text" class="form-control" id="field-1" placeholder="Contact Designation">
    </div>
    </div>
    <div class="form-group">
    <div class="col-sm-10">
    <input type="text" class="form-control" id="field-1" placeholder="Contact Phone">
    </div>
    </div>
    <div class="form-group">
    <div class="col-sm-10">
    <input type="text" class="form-control" id="field-1" placeholder="Contact E-mail">
    </div>
    </div>
    <div class="form-group">
    <div class="col-sm-10">
    <input type="text" class="form-control" id="field-1" placeholder="Contact Address">
    </div>
    </div>
    <div class="form-group">
    <div class="col-sm-10">
    <input type="text" class="form-control" id="field-1" placeholder="Contact Organization">
    </div>
    </div>
    <div class=" col-sm-10 text-right">
    <button class="btn btn-blue ng-scope" style="">   <i class="fa fa-plus"></i>  Add Contact</button>
    </div>
    <div class="col-sm-10">
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>#</th>
    <th>Name</th>
    <th>Email</th>
    <th>Organization</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>1</td>
    <td>xyz</td>
    <td>xyz</td>
    <td>xyz</td>
    </tr>
    <tr>
    <td>2</td>
    <td>xyz</td>
    <td>xyz</td>
    <td>xyz</td>
    </tr>
    <tr>
    <td>3</td>
    <td>xyz</td>
    <td>xyz</td>
    <td>xyz</td>
    </tr>
    </tbody>
    </table>
    </div>
    </form>
    </div>
    <div class="tab-pane" ng-class="{active: vertical_tabs_1 == 5}">
    <form role="form" class="form-horizontal">
    <div class="form-group">
    <div class="col-sm-10">
    <textarea class="form-control" cols="5" id="field-5"></textarea>
    </div>
    </div>
    </form>
    <br>
    <div class=" col-sm-10 text-right">
    <button class="btn btn-blue ng-scope" style="">   <i class="fa fa-plus"></i>  Add Notes</button>
    </div>
    <div class="col-lg-12" style="border: 1px solid gray;height: 30px;padding-top: 5px;">
    <div class="pull-left">
    kartik
    </div>
    <div  class="pull-right">

    <i class="fa fa-trash"></i>  
    </div>
    </div>
    </div>
    <div class="tab-pane" ng-class="{active: vertical_tabs_1 == 6}">
    <form role="form" class="form-horizontal">
    <div class="form-group">
    <label class="col-sm-2 control-label" for="field-4">Pick A File</label>

    <div class="col-sm-10">
    <input type="file" class="form-control" id="field-4" style="height: 35px;">
    </div>
    </div>
    </form>
    <br>
    <div class="col-sm-10 pull-right">
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>#</th>
    <th>File Name</th>
    <th>Upload By</th>
    <th>Upload On</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>1</td>
    <td>Arlind</td>
    <td>Nushi</td>
    <td>Nushi</td>
    </tr>
    <tr>
    <td>1</td>
    <td>Arlind</td>
    <td>Nushi</td>
    <td>Nushi</td>
    </tr>
    <tr>
    <td>1</td>
    <td>Arlind</td>
    <td>Nushi</td>
    <td>Nushi</td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    <div class="tab-pane" ng-class="{active: vertical_tabs_1 == 7}">
    <div class="col-md-12">
    <form role="form" class="form-horizontal">
    <div class="input-group xs-12">
    <input type="text" class="form-control no-right-border form-focus-info" placeholder="Source Name">

    <span class="input-group-btn" dropdown>
    <button type="button" class="btn btn-info"><i class="fa-plus"></i> Action </button>
    </span>
    </div>
    </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="col-sm-11 ">
    <table class="table table-bordered table-striped">
    <thead>
    <tr>
    <th>#</th>
    <th>Name</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>1</td>
    <td>Arlind</td>
    <td><i class="fa fa-trash"></i>  </td>
    </tr>
    <tr>
    <td>1</td>
    <td>Arlind</td>
    <td><i class="fa fa-trash"></i>  </td>
    </tr>
    <tr>
    <td>1</td>
    <td>Arlind</td>
    <td><i class="fa fa-trash"></i>  </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>	
    </div>
    </div>
    </div>


    <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
    <button type="button" class="btn btn-info" ng-click="currentModal.dismiss();"><i class="fa-plus"></i> Create Lead </button>
    </div>  
</script>




