

<page-title  title="User Management" description=""></page-title>
<form method="post">
    <div class="panel panel-headerless">
        <div class="panel-body">

         
            <div class="col-sm-12 table-responsive">

                <!-- Basic Table -->


                <table class="table responsive">
                    <thead>
                        <tr>
                            <th style="width: 10%;">#</th>
                            <th style="width: 20%;">Name</th>
                            <th style="width: 20%;">Email</th>
                            <th style="width: 20%;">Role</th>
                            <th style="width: 20%;">Status</th>
                            <th style="width: 10%;">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Arlind</td>
                            <td>Nushi</td>
                            <td>1</td>
                            <td>Arlind</td>
                            <td><a href="" ng-click="openModal('modal-5', 'md','static');" class="btn btn-danger btn-single btn-sm">Edit</a></td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Art</td>
                            <td>Ramadani</td>
                            <td>1</td>
                            <td>Arlind</td>
                            <td><a href="" ng-click="openModal('modal-5', 'md','static');" class="btn btn-danger btn-single btn-sm">Edit</a></td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Filan</td>
                            <td>Fisteku</td>
                            <td>1</td>
                            <td>Arlind</td>
                            <td><a href="" ng-click="openModal('modal-5', 'md','static');" class="btn btn-danger btn-single btn-sm">Edit</a></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</form>
<script type="text/ng-template" id="modal-5">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true" style="color:red;font-size:26px;">&times;</button>
		<h4 class="modal-title">User Management</h4>
	</div>
	
	<div class="modal-body">
	
		<div class="row">
			<div class="col-md-6">
				
				<div class="form-group">
					<label for="field-1" class="control-label">Name</label>
					
					<input type="text" class="form-control" id="field-1" placeholder="John">
				</div>	
				
			</div>
			
			<div class="col-md-6">
				
				<div class="form-group">
					<label for="field-2" class="control-label">Email</label>
					
					<input type="text" class="form-control" id="field-2" placeholder="Doe">
				</div>	
			
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group">
						<label for="role" class="control-label">Role</label>

					
							<select class="form-control"  id="role">
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
								<option>Option 4</option>
								<option>Option 5</option>
							</select>
						
					</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-12">
				
				<div class="form-group">
						<label for="role" class="control-label">Status</label>

					
							<select class="form-control"  id="role">
								<option>Active</option>
								<option>Inactive</option>
							</select>
						
					</div>
				
			</div>
		</div>
		
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Save changes</button>
	</div>
</script>